@charset "utf-8";
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    position:relative;
    max-width:1100px;
    margin:0 auto;
}

.container-fluid {
    padding: 60px 50px;
}
.bg-gray {
    background-color: #F8F8F8;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #0073BA;
}
.carousel-indicators li {
    border-color: #0073BA;
}
.carousel-indicators li.active {
    background-color: #0073BA;
}
.navbar1{
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    text-align: right;
}
.navbar-toggle{
    background-color: #EAEAEA;
    border: none;
    border-radius: 21px;
    height: 42px;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #0073BA;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
        }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
        }
     .summary02_01{display: none;}
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
     .summary02_01{display: none;}
}


/*    추가  */

 .navbar-default .navbar-nav > .active,
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      background: #FFF;
 }
.nav.nav-tabs > li.dropdown.active.open > a,
.nav.nav-tabs > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav.nav-tabs > li.dropdown.open > a,
.nav.nav-tabs > li.dropdown.open > ul.dropdown-menu a:hover
{
  background-color: #fff;
  border-color: #fff;
}
.nav.nav-tabs > li.dropdown.active.open > a span.caret {
    border-top-color: #fff;border-bottom-color: #fff;
    background: transparent !important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-toggle:active, .open .dropdown-toggle,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a
{
    background: transparent !important;

}
.dropdown-menu{
    background: #fff !important;
    border: none;
    box-shadow: none;
}
 .subnav1{
    color: #0079C2 !important;
    border: none;
}
.li_class{
    color: #494949;
    text-align: right;
    padding: 0;
    margin: 0;
    border: none;
}
.main_visual{
    position:relative;
    max-width:980px;
    margin:0 auto;
    max-height:342px;
    overflow:hidden;
}
.zero{
    margin: 0;
    padding: 0;
    float: left;
}
.pichover a:hover{
    background-color: #0073BA;

}
.spgal{
    margin-left: 25px;
    margin-bottom: 25px;
    float: left;
}
.photogal{
    width: 150px;
    margin: 3px;
}
 .sponsor2{
    overflow: hidden;
    padding-bottom: 30px;
}
.sponsor2 dt{
    border-bottom: 1px solid #EBEBEB;
    font-size: 13px;
    padding-bottom: 7px;
}
.sponsor2 dd{
    float: left;
    width: 135px;
    height: 45px;
    padding: 10px 0 10px 0;
    text-align: center;
}
.sponsor2 dd img{
    width: 100%;
    max-width: 135px;
    vertical-align: top;
}
h2.tit{
    background: url(../img/bg_h2.jpg) no-repeat left bottom;
    font-size: 30px;
    font-family: ngb;
    margin-bottom: 100px;
    color: #494949;
    margin: 0 auto;
    position: relative;
    height: 50px;
}
h2{
    display: block;
    font-weight: bold;
    line-height: 1;
}
#summary00{
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: #0073BA solid 1px;
}
#summary00 ul li{
    padding: 5px 0 5px 25px;
    background: url(../img/ico_location.png) no-repeat left;
    font-size: 18px;
    line-height: 130%;
    list-style: none;
}
#summary00 ul li:first-child{
    background: url(../img/ico_calendar.png) no-repeat left;
}
.top img{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.summary02_01_in{
    background: url(../img/bg_summary02.png) repeat-y center top;
    margin: 0 auto;
    position: relative;
}
.summary02_02_in{
    margin: 0 auto; overflow: hidden; padding: 40px 0;
}
.summary02_02_in .left{
    float:left;background:url(../img/img_summary02_04.png) no-repeat left top;font-size:15px;color:#494949;font-family:ngb;font-weight:bold;
}
.summary02_02_in .left .tit{
    font-size:20px;font-family:ngb;color:#494949;display:block;margin:0 25px 5px 90px;border-bottom:1px solid #e0e0e0;padding:40px 0 15px 0;
}
.summary02_02_in .left .num{
    font-size:50px;color:#ed9416;font-family:Arial;font-weight:bold;letter-spacing:-2px;margin-left:80px
}
.summary02_02_in .center{
    float:left;background:url(../img/img_summary02_05.png) no-repeat 5% 10px;border-left:2px dashed #e9e9e9;border-right:2px dashed #e9e9e9;min-height:150px;font-size:15px;color:#494949;font-family:ngb;font-weight:bold;
}
.summary02_02_in .center .tit{
    font-size:20px;font-family:ngb;color:#494949;display:block;margin:0 25px 5px 90px;border-bottom:1px solid #e0e0e0;padding:40px 0 15px 0;text-align:left;
}
.summary02_02_in .center .num{
    font-size:50px;color:#e62644;font-family:Arial;font-weight:bold;letter-spacing:-2px;margin-left:80px
}
.summary02_02_in .right > p{
    margin-left:15px;font-size:20px;color:#494949;font-family:ngb;padding: 0 5px 0;font-weight:bold;
}
.summary02_02_in .right > p:first-child{
    border-bottom:1px solid #e0e0e0;
}
.summary02_02_in .right > p .num{
    font-size:50px;color:#0377c2;font-family:Arial;letter-spacing:-2px;font-weight:bold;padding-right:5px
}

#emblem div img{
    width: 80%;
    position: relative;
    margin-top: 20px;
}
